<div class="modal fade" id="postDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header post-details">
                <p id="postTitle"></p>
                <p id="postCat"></p>
            </div>
            <div class="modal-body">
                <div class="postContainer">
                    <p id="postCont">
                    Contenido del post
                    </p>
                </div>
                @*<br />
                <div class="postImgContainer">
                    <img src="#" alt="Alternate Text" />
                </div>
                <br />*@
                <p id="postFecha"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
