USE [master]
GO
/****** Object:  Database [AlkemyPosts]    Script Date: 18/1/2021 4:04:56 ******/
CREATE DATABASE [AlkemyPosts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlkemyPosts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AlkemyPosts.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlkemyPosts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AlkemyPosts_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlkemyPosts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlkemyPosts]
GO
/****** Object:  Table [dbo].[POST]    Script Date: 18/1/2021 4:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](60) NULL,
	[CONTENT] [varchar](250) NOT NULL,
	[CATEGORIA] [varchar](30) NOT NULL,
	[FECHA_CREACION] [varchar](50) NULL,
	[IMAGEN] [varchar](100) NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
